<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Resume Screening System</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond:wght@300;400;500;600;700&family=Lora:wght@400;500;600&display=swap" rel="stylesheet">

    <!--icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <!-- Navigation Bar -->
    <nav class="navbar">

        <div class="logo">
            <i class="fa-solid fa-brain"></i>
            ResumeAI
        </div>

        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        

    </nav>

    <!-- Hero Section -->

    <section class="hero">

        <h1>AI Resume Screening System</h1>

        <h3>Find the Perfect Candidate Faster with Artificial Intelligence</h3>

        <p>
            Upload resumes, compare them with job descriptions,
            analyze candidate skills, and rank applicants intelligently
            in seconds.
        </p>

    </section>

    <!-- Resume Upload Form -->

    <section class="upload-section">

       <div class="upload-card">

            <form action="/upload" method="post" enctype="multipart/form-data">

                <label>Job Title</label>
                <input type="text" name="job_title" placeholder="Enter Job Title">

                <label>Job Description</label>
                <textarea
                    class="description" name="job_description"
                    placeholder="Paste the complete job description..."
                ></textarea>

                <label for="resume">Upload Resume</label>
                <label for="resume" class="upload-box">
                    <i class="fa-solid fa-cloud-arrow-up"></i>
                    <p>Drag and Drop Resume Here</p>
                    <span>or Click to Browse Files</span>
                    <input
                        type="file"
                        id="resume"
                        name="resume"
                        accept=".pdf,.doc,.docx"
                        required
                    >
                    <p id="file-name">No file selected</p>
                </label>

                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    Analyze Resume
                </button>

            </form>

       </div>

    </section>

    <!-- Features -->

    <section class="features">

        <div class="feature-card">
            <i class="fa-solid fa-file-lines"></i>
            <h2>Resume Upload</h2>
            <p> Upload PDF and DOCX Resumes quickly.</p>
        </div>

        <div class="feature-card">
            <i class="fa-solid fa-brain"></i>
            <h2>Skill Extraction</h2>
            <p>Automatically identify technical skills.</p>
        </div>

        <div class="feature-card">
            <i class="fa-solid fa-bullseye"></i>
            <h2>Match Score</h2>
            <p>Compare resumes with the job description.</p>
        </div>

        <div class="feature-card">
            <i class="fa-solid fa-ranking-star"></i>
            <h2>Candidate Ranking</h2>
            <p>Rank applicants based on similarity.</p>
        </div>

        

    </section>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</script>

</body>

</html>